body {
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.w-10 {
  width: 20px;
  /* background-color: red;  */
}


@media screen and (max-width:530px) {
  .grid {
    width: 100% !important
  }

  /* .points{
    font-size: 15px;
  } */
}



/* .points{
    font-size: 15px;
  } */


.score-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  background-color: rgb(221, 187, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.x-score {
  border-top-left-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #0078D7;
  color: black;
  /* margin: 0 2rem */
}

.o-score {
  background-color: yellow;
  padding-left: 2rem;
  padding-right: 2rem;
  color: black;
  border-top-right-radius: 10px;
}

.grid {
  display: flex;
  width: 37%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  padding-top: 30%;
  width: 30%;
  /* margin: 1px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  position: relative
}

.points {
  font-size: 1.05rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1px;
  padding: 1px;
  color: rgb(0, 7, 112);
  font-weight: 500;
}

.panel {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  white-space: nowrap;
}

footer {
  width: 100vw;
  margin-top: auto;
  /* position: absolute; */
  /* bottom: 0; */
}

/* .btn {
  padding: 10px;
  margin-left: 20px;
  align-items: center;
} */